In [1]:
#Import the libraries
import numpy as np
import pandas as pd
import random

In [2]:
#Read the data
df1 = pd.read_csv('airfoil_self_noise.dat', sep='\t', header=None,usecols=[0,2,3,4], names=['C1', 'C2', 'C3', 'C4'],
                 skiprows=1303)

In [3]:
df1.head()

      C1      C2    C3        C4
0   6300  0.1016  71.3  0.002028
1   8000  0.1016  71.3  0.002028
2  10000  0.1016  71.3  0.002028
3    630  0.1016  55.5  0.002211
4    800  0.1016  55.5  0.002211

In [4]:
df1.shape

(200, 4)

In [5]:
df1.to_csv('df1')

In [6]:
#Making copy
df2 = df1.copy()

In [7]:
#Adding random value to the df2 in C1 and C2 column
dfupdate = df2.sample(n = int(len(df2)/7))
df2.C1 = random.randint(0,10)
df2.C4 = random.randint(0,20)
df2.update(dfupdate)

In [8]:
df2.head()

    C1      C2    C3   C4
0  4.0  0.1016  71.3  6.0
1  4.0  0.1016  71.3  6.0
2  4.0  0.1016  71.3  6.0
3  4.0  0.1016  55.5  6.0
4  4.0  0.1016  55.5  6.0

In [9]:
df2.shape

(200, 4)

In [10]:
df2.to_csv('df2')

In [11]:
flag_dict = {}
num_dict = {}
for col in df1.columns:
    col_flag = []
    value = []
    for i in range(len(df1)):
        a =np.where(df1.loc[i][col] == df2.loc[i][col], 'Pass', 'Fail')
        b =np.where(df1.loc[i][col] == df2.loc[i][col], 0, (df1.loc[i][col], df2.loc[i][col]))
        col_flag.append(a)
        value.append(b)
    flag_dict[col] = col_flag
    num_dict[col] = value

In [12]:
final_flag_dict = {}
final_num_dict = {}
for key in flag_dict.keys():
    if('Fail' in flag_dict[key]):
        print(key)
        final_flag_dict[key] = flag_dict[key]
        final_num_dict[key] = num_dict[key]

C1
C4

In [13]:
resultant_dict = {}
for key in final_flag_dict.keys():
    resultant_dict[key+'_flag'] = final_flag_dict[key]
for key in final_num_dict.keys():
    resultant_dict[key+'_value'] = final_num_dict[key]

In [14]:
result = pd.DataFrame(data=resultant_dict)

In [15]:
result.head(10)

  C1_flag C4_flag        C1_value           C4_value
0    Fail    Fail   [6300.0, 4.0]  [0.00202822, 6.0]
1    Fail    Fail   [8000.0, 4.0]  [0.00202822, 6.0]
2    Fail    Fail  [10000.0, 4.0]  [0.00202822, 6.0]
3    Fail    Fail    [630.0, 4.0]    [0.002211, 6.0]
4    Fail    Fail    [800.0, 4.0]    [0.002211, 6.0]
5    Pass    Pass      [0.0, 0.0]         [0.0, 0.0]
6    Fail    Fail   [1250.0, 4.0]    [0.002211, 6.0]
7    Fail    Fail   [1600.0, 4.0]    [0.002211, 6.0]
8    Fail    Fail   [2000.0, 4.0]    [0.002211, 6.0]
9    Fail    Fail   [2500.0, 4.0]    [0.002211, 6.0]

In [17]:
result.to_csv('result')

From the above solution we have two columns having different values 'C1' and 'C4' and Column_Value in the result dataframe corresponds to the values of df1 and df2.